model:
  base_learning_rate: 9e-05
  target: ldm.models.autoencoder.VQModelInterface
  params:
    embed_dim: 4
    n_embed: 16384
    monitor: val/rec_loss
    ddconfig:
      double_z: false
      z_channels: 4
      resolution: 512
      in_channels: 3
      out_ch: 3
      ch: 128
      ch_mult:
      - 1
      - 2
      - 2
      - 4
      num_res_blocks: 2
      attn_resolutions:
      - 64
      dropout: 0.0
    lossconfig:
      target: taming.modules.losses.vqperceptual.VQLPIPSWithDiscriminator
      params:
        disc_conditional: false
        disc_in_channels: 3
        disc_num_layers: 2
        disc_start: 1
        disc_weight: 0.6
        codebook_weight: 1.0
data:
  target: main.DataModuleFromConfig
  params:
    batch_size: 8
    num_workers: 4
    wrap: False
    train:
      target: ldm.data.CDGC.CDGCTrain
      params:
        size: 512
    validation:
      target: ldm.data.CDGC.CDGCVal
      params:
        size: 512
lightning:
  trainer:
    precision: 32
    benchmark: True
    accumulate_grad_batches: 4
